<div class="container">
  <div class="card-columns">
    <div class="card">
      <img class="card-img-top" src="assets/img/spiderman.png" alt="">
      <div class="card-body">
        <h1 class="card-title">Title</h1>
        <div class="card-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dignissimos iusto nam. Commodi,
            cumque dignissimos eius id impedit ipsum officia quo? A amet delectus eum impedit libero neque quis
            vel.</p>
        </div>
      </div>
      <button class="btn  btn-lg  btn-block btn-outline-primary">View</button>
    </div>
  </div>
</div>
